# Node modules
node_modules/
frontend/node_modules/

# Frontend Build
frontend/dist/
dist/
*.timestamp-*.mjs


# Hardhat
artifacts/
cache/
coverage/
coverage.json
typechain/
typechain-types/

# Environment files
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
